.wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    position: relative;
    background-color: var(--color-light)
}

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    object-fit: cover;
    align-items: center;
}

.card-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.text-limit {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn số dòng là 2 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  