.filter {
    background-color: var(--color-secondary);
    width : 300px;
    height: auto;
    border-radius: 10px;
    padding-left: 25px;
    padding-bottom : 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}