.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    height: 500px;
}

.avatar {
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo cột */
    align-items: center; /* Căn giữa các phần tử */
}

.avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.button-update-avatar {
    margin-top: 10px;
    background-color: #502b04;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.form {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 850px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.change {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #502b04;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.row .item {
    flex: 1;
}
